@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #c1c1c1;
  --primary-color: #19a7ce;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.img-card {
  background-color: var(--main-color);
}

.border-about {
  background-color: var(--foreground);
}

div::-webkit-scrollbar {
  display: none;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
